/* .guess {
  width: 20%;
  margin: 0 auto;
} */

.guess__label,
.guess__input,
.guess__submit {
  display: block;
  margin-top: 5px;
}

.guess__submit {
  margin-top: 20px;
}

input {
  padding: 10px;
  border-radius: 3px;
}
